P "CDS_LMAN_SYM_OUTLINE" "-125,350,125,-350" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -125 350 -125 -350 -1 0
L -125 350 125 350 -1 0
L 125 350 125 -350 -1 0
L -125 -350 125 -350 -1 0
P "$LOCATION" "?" 0 432 0 0 32 0 0 1 0 0 1 0 0
P "VALUE" "?" 0 375 0 0 32 0 0 1 0 0 1 0 0
P "PACK_TYPE" "?" 0 114 0 0 32 0 0 1 0 0 0 0 0
P "JEDEC_TYPE" "?" 0 -114 0 0 32 0 0 1 0 0 0 0 0
P "PATH" "?" 0 171 0 0 32 0 0 1 0 0 0 0 0
P "MAXINV" "?" 0 -171 0 0 32 0 0 1 0 0 0 0 0
L -175 250 -125 250 -1 0
C -175 250 "1" -200 250 0 1 32 0 R
X "PIN_TEXT" "1" -115 250 0 0 32 0 0 0 0 0 1 0 0
L -175 175 -125 175 -1 0
C -175 175 "2" -200 175 0 1 32 0 R
X "PIN_TEXT" "2" -115 175 0 0 32 0 0 0 0 0 1 0 0
L -175 100 -125 100 -1 0
C -175 100 "3" -200 100 0 1 32 0 R
X "PIN_TEXT" "3" -115 100 0 0 32 0 0 0 0 0 1 0 0
L -175 25 -125 25 -1 0
C -175 25 "4" -200 25 0 1 32 0 R
X "PIN_TEXT" "4" -115 25 0 0 32 0 0 0 0 0 1 0 0
L -175 -50 -125 -50 -1 0
C -175 -50 "5" -200 -50 0 1 32 0 R
X "PIN_TEXT" "5" -115 -50 0 0 32 0 0 0 0 0 1 0 0
L -175 -125 -125 -125 -1 0
C -175 -125 "6" -200 -125 0 1 32 0 R
X "PIN_TEXT" "6" -115 -125 0 0 32 0 0 0 0 0 1 0 0
L -175 -200 -125 -200 -1 0
C -175 -200 "7" -200 -200 0 1 32 0 R
X "PIN_TEXT" "7" -115 -200 0 0 32 0 0 0 0 0 1 0 0
L -175 -275 -125 -275 -1 0
C -175 -275 "8" -200 -275 0 1 32 0 R
X "PIN_TEXT" "8" -115 -275 0 0 32 0 0 0 0 0 1 0 0
L 175 -275 125 -275 -1 0
C 175 -275 "9" 200 -275 0 1 32 0 L
X "PIN_TEXT" "9" 115 -275 0 0 32 0 0 2 0 0 1 0 0
L 175 -200 125 -200 -1 0
C 175 -200 "10" 200 -200 0 1 32 0 L
X "PIN_TEXT" "10" 115 -200 0 0 32 0 0 2 0 0 1 0 0
L 175 -125 125 -125 -1 0
C 175 -125 "11" 200 -125 0 1 32 0 L
X "PIN_TEXT" "11" 115 -125 0 0 32 0 0 2 0 0 1 0 0
L 175 -50 125 -50 -1 0
C 175 -50 "12" 200 -50 0 1 32 0 L
X "PIN_TEXT" "12" 115 -50 0 0 32 0 0 2 0 0 1 0 0
L 175 25 125 25 -1 0
C 175 25 "13" 200 25 0 1 32 0 L
X "PIN_TEXT" "13" 115 25 0 0 32 0 0 2 0 0 1 0 0
L 175 100 125 100 -1 0
C 175 100 "14" 200 100 0 1 32 0 L
X "PIN_TEXT" "14" 115 100 0 0 32 0 0 2 0 0 1 0 0
L 175 175 125 175 -1 0
C 175 175 "15" 200 175 0 1 32 0 L
X "PIN_TEXT" "15" 115 175 0 0 32 0 0 2 0 0 1 0 0
L 175 250 125 250 -1 0
C 175 250 "16" 200 250 0 1 32 0 L
X "PIN_TEXT" "16" 115 250 0 0 32 0 0 2 0 0 1 0 0
L 0 -400 0 -350 -1 0
C 0 -400 "17" 0 -450 0 1 32 0 C
X "PIN_TEXT" "EP" 0 -340 0 0 32 0 0 1 0 0 1 0 0


