P "CDS_LMAN_SYM_OUTLINE" "-200,200,200,-200" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -200 200 -200 -200 -1 0
L -200 -200 200 0 -1 0
L 200 0 -200 200 -1 0
P "$LOCATION" "?" 250 165 0 0 29 0 0 0 0 0 1 0 0
P "VALUE" "?" 250 101 0 0 29 0 0 0 0 0 1 0 0
P "PATH" "?" 0 0 0 0 29 0 0 0 0 0 0 0 0
P "JEDEC_TYPE" "?" 0 40 0 0 29 0 0 0 0 0 0 0 0
P "PACK_TYPE" "?" 0 -40 0 0 29 0 0 0 0 0 0 0 0
P "MAXINV" "?" 0 80 0 0 29 0 0 0 0 0 0 0 0
L 0 150 0 100 -1 0
C 0 150 "VCC" 0 175 0 1 29 1 L
X "PIN_TEXT" "VCC" 11 61 0 0 29 0 0 2 0 0 1 0 0
L 0 -150 0 -100 -1 0
C 0 -150 "GND1" 0 -175 0 1 32 1 R
X "PIN_TEXT" "GND" 7 -90 0 0 32 0 0 2 0 0 1 0 0
L -250 0 -200 0 -1 0
C -250 0 "IN" -275 0 0 1 32 0 R
X "PIN_TEXT" "IN" -189 -7 0 0 32 0 0 0 0 0 1 0 0
L 250 0 200 0 -1 0
C 250 0 "OUT" 275 0 0 1 32 0 L
X "PIN_TEXT" "OUT" 160 -13 0 0 32 0 0 2 0 0 1 0 0


