P "CDS_LMAN_SYM_OUTLINE" "-125,325,125,-325" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -125 325 -125 -325 -1 0
L -125 325 125 325 -1 0
L 125 325 125 -325 -1 0
L -125 -325 125 -325 -1 0
P "VALUE" "?" 0 350 0 0 32 0 0 1 0 0 1 0 0
P "$LOCATION" "?" 0 407 0 0 32 0 0 1 0 0 1 0 0
P "JEDEC_TYPE" "?" 0 57 0 0 32 0 0 0 0 0 0 0 0
P "PACK_TYPE" "?" 0 -57 0 0 32 0 0 0 0 0 0 0 0
P "MAXINV" "?" 0 114 0 0 32 0 0 0 0 0 0 0 0
P "PATH" "?" 0 -114 0 0 32 0 0 0 0 0 0 0 0
L 175 250 125 250 -1 0
C 175 250 "J1" 200 250 0 1 32 0 L
X "PIN_TEXT" "J1" 115 250 0 0 32 0 0 2 0 0 1 0 0
L 175 175 125 175 -1 0
C 175 175 "J2" 200 175 0 1 32 0 L
X "PIN_TEXT" "J2" 115 175 0 0 32 0 0 2 0 0 1 0 0
L 175 100 125 100 -1 0
C 175 100 "J3" 200 100 0 1 32 0 L
X "PIN_TEXT" "J3" 115 100 0 0 32 0 0 2 0 0 1 0 0
L 175 25 125 25 -1 0
C 175 25 "J4" 200 25 0 1 32 0 L
X "PIN_TEXT" "J4" 115 25 0 0 32 0 0 2 0 0 1 0 0
L 175 -50 125 -50 -1 0
C 175 -50 "J5" 200 -50 0 1 32 0 L
X "PIN_TEXT" "J5" 115 -50 0 0 32 0 0 2 0 0 1 0 0
L 175 -125 125 -125 -1 0
C 175 -125 "J6" 200 -125 0 1 32 0 L
X "PIN_TEXT" "J6" 115 -125 0 0 32 0 0 2 0 0 1 0 0
L 175 -200 125 -200 -1 0
C 175 -200 "J7" 200 -200 0 1 32 0 L
X "PIN_TEXT" "J7" 115 -200 0 0 32 0 0 2 0 0 1 0 0
L 175 -275 125 -275 -1 0
C 175 -275 "J8" 200 -275 0 1 32 0 L
X "PIN_TEXT" "J8" 115 -275 0 0 32 0 0 2 0 0 1 0 0


