P "CDS_LMAN_SYM_OUTLINE" "-250,250,250,-250" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -250 250 250 250 -1 0
L 250 250 250 -250 -1 0
L -250 -250 250 -250 -1 0
L -250 250 -250 -250 -1 0
L -14 -175 -50 -175 -1 0
L 51 -175 7 -175 -1 0
L 51 -175 51 -64 -1 0
L -17 -64 20 -64 -1 0
L 67 -64 32 -64 -1 0
L -59 -50 62 -50 -1 0
L -50 -175 -50 -64 -1 0
L -31 -64 -66 -64 -1 0
L 1 -125 201 -125 -1 0
L -50 -150 -200 -150 -1 0
L 51 -50 51 0 -1 0
L 14 210 18 218 -1 0
L 10 182 14 190 -1 0
L 14 200 51 200 -1 0
L 14 200 -7 186 -1 0
L -7 214 14 200 -1 0
L 14 190 14 210 -1 0
L -51 200 -7 200 -1 0
L -7 186 -7 214 -1 0
L -50 200 -50 89 -1 0
L 18 89 -19 89 -1 0
L -66 89 -31 89 -1 0
L 60 75 -61 75 -1 0
L 51 201 51 89 -1 0
L 32 89 67 89 -1 0
L 0 150 -200 150 -1 0
L 50 100 200 100 -1 0
L -50 75 -50 25 -1 0
L 50 175 200 175 -1 0
L -50 -75 -200 -75 -1 0
L 50 0 175 0 -1 0
L 175 0 175 -50 -1 0
L 175 -50 200 -50 -1 0
L -50 25 -175 25 -1 0
L -175 25 -175 75 -1 0
L -175 75 -200 75 -1 0
L -125 91 -125 81 -1 0
L -126 111 -126 150 -1 0
L -125 61 -111 81 -1 0
L -139 81 -125 61 -1 0
L -111 81 -139 81 -1 0
L -125 62 -125 25 -1 0
L -136 111 -142 117 -1 0
L -110 105 -116 111 -1 0
L -126 111 -112 91 -1 0
L -140 91 -126 111 -1 0
L -116 111 -136 111 -1 0
L -112 91 -140 91 -1 0
L -135 61 -141 67 -1 0
L -109 55 -115 61 -1 0
L -115 61 -135 61 -1 0
L 14 112 -15 112 -1 0
L 0 89 14 112 -1 0
L 0 89 -15 112 -1 0
L 0 150 0 112 -1 0
L 126 -66 126 -56 -1 0
L 127 -86 127 -125 -1 0
L 126 -36 112 -56 -1 0
L 140 -56 126 -36 -1 0
L 112 -56 140 -56 -1 0
L 126 -37 126 0 -1 0
L 137 -86 143 -92 -1 0
L 111 -80 117 -86 -1 0
L 127 -86 113 -66 -1 0
L 141 -66 127 -86 -1 0
L 117 -86 137 -86 -1 0
L 113 -66 141 -66 -1 0
L 136 -36 142 -42 -1 0
L 110 -30 116 -36 -1 0
L 116 -36 136 -36 -1 0
L 14 -102 -15 -102 -1 0
L 0 -125 14 -102 -1 0
L 0 -125 -15 -102 -1 0
L 0 -64 0 -102 -1 0
L 8 -166 12 -158 -1 0
L 4 -194 8 -186 -1 0
L 8 -176 -13 -190 -1 0
L -13 -162 8 -176 -1 0
L 8 -186 8 -166 -1 0
L -13 -190 -13 -162 -1 0
P "$LOCATION" "?" 0 325 0 0 32 0 0 1 0 0 1 0 0
P "VALUE" "?" 0 275 0 0 32 0 0 1 0 0 1 0 0
P "PACK_TYPE" "?" 0 0 0 0 29 0 0 0 0 0 0 0 0
P "JEDEC_TYPE" "?" 0 0 0 0 29 0 0 0 0 0 0 0 0
P "MAXINV" "?" 0 0 0 0 29 0 0 0 0 0 0 0 0
P "PATH" "?" 0 0 0 0 29 0 0 0 0 0 0 0 0
L -300 75 -200 75 -1 0
C -300 75 "G1" -325 75 0 1 32 0 R
X "PIN_TEXT" "G1" -240 89 0 0 32 0 0 0 0 0 1 0 0
L -300 150 -200 150 -1 0
C -300 150 "S1" -325 150 0 1 32 0 R
X "PIN_TEXT" "S1" -240 164 0 0 32 0 0 0 0 0 1 0 0
L 300 -125 200 -125 -1 0
C 300 -125 "S2" 325 -125 0 1 32 0 L
X "PIN_TEXT" "S2" 240 -113 0 0 32 0 0 2 0 0 1 0 0
L 300 -50 200 -50 -1 0
C 300 -50 "G2" 325 -50 0 1 32 0 L
X "PIN_TEXT" "G2" 240 -38 0 0 32 0 0 2 0 0 1 0 0
L 300 175 200 175 -1 0
C 300 175 "D1-1" 325 175 0 1 32 0 L
X "PIN_TEXT" "D1" 240 187 0 0 32 0 0 2 0 0 1 0 0
L 300 100 200 100 -1 0
C 300 100 "D1-2" 325 100 0 1 32 0 L
X "PIN_TEXT" "D1" 240 112 0 0 32 0 0 2 0 0 1 0 0
L -300 -75 -200 -75 -1 0
C -300 -75 "D2-1" -325 -75 0 1 32 0 R
X "PIN_TEXT" "D2" -240 -61 0 0 32 0 0 0 0 0 1 0 0
L -300 -150 -200 -150 -1 0
C -300 -150 "D2-2" -325 -150 0 1 32 0 R
X "PIN_TEXT" "D2" -240 -136 0 0 32 0 0 0 0 0 1 0 0


