P "CDS_LMAN_SYM_OUTLINE" "-100,100,100,-100" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -37 25 -37 -25 -1 0
L -12 50 -12 -50 -1 0
L 13 25 13 -25 -1 0
L 38 50 38 -50 -1 0
L 38 0 100 0 -1 0
L -100 0 -37 0 -1 0
M -113 38 -88 38 -1 0
M 88 39 113 39 -1 0
M 100 51 100 26 -1 0
P "$LOCATION" "?" 0 176 0 0 29 0 0 1 0 0 1 0 0
P "VALUE" "?" 0 125 0 0 29 0 0 1 0 0 1 0 0
P "PACK_TYPE" "?" 0 0 0 0 29 0 0 0 0 0 0 0 0
P "JEDEC_TYPE" "?" 0 0 0 0 29 0 0 0 0 0 0 0 0
P "MAXINV" "?" 0 0 0 0 29 0 0 0 0 0 0 0 0
P "PATH" "?" 0 0 0 0 29 0 0 0 0 0 0 0 0
P "PACK_SHORT" "(2,3)" 0 0 0 0 48 0 0 0 0 0 0 0 0
L 150 0 100 0 -1 0
C 150 0 "2" 150 0 0 1 32 0 L
L -150 0 -100 0 -1 0
C -150 0 "1" -150 0 0 1 32 0 R
C 125 0 "3" 200 0 0 1 32 0 L
X "$PN" "#" 125 0 0 0 32 0 0 0 0 0 0 0 0


