P "CDS_LMAN_SYM_OUTLINE" "-200,150,200,-150" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -200 150 200 150 -1 0
L 200 150 200 -150 -1 0
L 200 -150 -200 -150 -1 0
L -200 -150 -200 150 -1 0
P "$LOCATION" "?" 0 225 0 0 32 0 0 1 0 0 1 0 0
P "VALUE" "?" 0 176 0 0 32 0 0 1 0 0 1 0 0
P "PACK_TYPE" "?" 0 0 0 0 48 0 0 0 0 0 0 0 32
P "JEDEC_TYPE" "?" 0 0 0 0 48 0 0 0 0 0 0 0 32
P "MAXINV" "?" 0 0 0 0 48 0 0 0 0 0 0 0 32
P "PATH" "?" 0 0 0 0 48 0 0 0 0 0 0 0 32
L -250 75 -200 75 -1 0
C -250 75 "1" -275 75 0 1 32 0 R
X "PIN_TEXT" "1" -190 75 0 0 32 0 0 0 0 0 1 0 0
L -250 25 -200 25 -1 0
C -250 25 "2" -275 25 0 1 32 0 R
X "PIN_TEXT" "2" -190 25 0 0 32 0 0 0 0 0 1 0 0
L -250 -25 -200 -25 -1 0
C -250 -25 "3" -275 -25 0 1 32 0 R
X "PIN_TEXT" "3" -190 -25 0 0 32 0 0 0 0 0 1 0 0
L -250 -75 -200 -75 -1 0
C -250 -75 "4" -275 -75 0 1 32 0 R
X "PIN_TEXT" "4" -190 -75 0 0 32 0 0 0 0 0 1 0 0
L 250 -75 200 -75 -1 0
C 250 -75 "5" 275 -75 0 1 32 0 L
X "PIN_TEXT" "5" 190 -75 0 0 32 0 0 2 0 0 1 0 0
L 250 -25 200 -25 -1 0
C 250 -25 "6" 275 -25 0 1 32 0 L
X "PIN_TEXT" "6" 190 -25 0 0 32 0 0 2 0 0 1 0 0
L 250 25 200 25 -1 0
C 250 25 "7" 275 25 0 1 32 0 L
X "PIN_TEXT" "7" 190 25 0 0 32 0 0 2 0 0 1 0 0
L 250 75 200 75 -1 0
C 250 75 "8" 275 75 0 1 32 0 L
X "PIN_TEXT" "8" 190 75 0 0 32 0 0 2 0 0 1 0 0


